.card{
    background-color: transparent;
    background-image: linear-gradient(180deg, rgba(255, 253, 251, 0.144) ,rgba(246, 197, 133, 0.566));
    padding:0px;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
    justify-content: center;
}
.btn{
    background-color: transparent;
    background-color: white;
    border: 5px solid rgba(128, 128, 128, 0.259);
    padding: 15px;
    border-radius: 25px;
    color: black;
    font-size: 18px;
    transition-duration: 0.5s;
    cursor: pointer;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 8px;
    transition-duration: 0.5s;
    cursor: pointer;
}
.btn:hover{
    
transform: scale(1.1);
    
}
.img{
    justify-content: center;
    height: 50%;
    width: 70%;
    object-fit: contain;
}
.about{
 font-size: 15px;
 text-align: left;
 padding: 0% 10% 0% 0% ;
 width: 100%;
 align-items: baseline;
 margin-left: 5px;
 max-width: 70%;
}
.allpro{
    width: 100%;
    padding: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.price{
    color: #FF7E4C;
    font-weight: bold;
    font-size: 18px;
    font-family: Rubik-Light;
    justify-content: center;
    align-items: baseline;
    padding: 2%;
    margin-left: 0px;
    width: 100%;
}
.pricee{
    color: #FF7E4C;
    font-weight: bold;
    font-size: 18px;
    font-family: Rubik-Light;
    justify-content: center;
    align-items: baseline;
    padding: 2%;
    margin-right: -80px;
    width: 100%;
}