.everybottom{
   
    
}
.second{
    margin-left: 70px;
}
.justsecond{
    
    display: flex;
}
.firstt{
    display: flex;
}
.last{
    margin-top: -10px;
    margin-right: 100px;
}
.nutritext{
    color: rgba(0, 0, 0, 0.566);
   
    
}
.demo{
    
    
}
.topbottom{
    font-size: 22px;
}
.bottomlink{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.624);
    font-size: 18px;
    line-height: 2;
    transition-duration: 0.3s;
    cursor: pointer;
    font-family:Rubik-Regular;
}
.bottomlink:hover{
    color: #FF7E4C;
}
.mline{
    padding: 0px 650px 0px 650px;
    margin-left: 0px;
    margin-right: 0px;
    color: rgba(0, 0, 0, 0.327);
    margin-top: 70px;
    
}
.bottomline{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    color: rgba(0, 0, 0, 0.327);
}
.copy{
    display: flex;
}
.bottomcookies{
    
    margin-right: 20px;
    float: right;
    color: rgba(0, 0, 0, 0.624);
    text-decoration: none;
    transition-duration: 0.3s;
    cursor: pointer;
}
.bottomcookies:hover{
    color: #FF7E4C;
}
.cookie{
    margin-left: 300px;
    display: flex;
}
.last{
    margin-top: 300px;
    margin-left: 140px;
    
}
.copy,
.cookie{
    vertical-align: middle;
}
.phone{
    font-size: 18px;
    cursor: pointer;
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.624);
    transition-duration: 0.3s;
    
}
.sendmail{
    font-size: 18px;
    cursor: pointer;
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.624);
    transition-duration: 0.3s;
}
.tis{
    font-size: 15px;
    margin-bottom: 12px;
    display: inline-block;
    transition-duration: 0.3s;
    text-decoration: none;
    color: black;
    transition-duration: 0.3s;
}
.tis:hover{
    color: #FF7E4C;
}
.nutritext{
    margin-top: 80px;
    margin-right: 50px;
    margin-left: 55px;
}